<div class="spinner">
    <p>Please wait while models are loading</p>
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>
<svg width="500" height="100" class="result-circle">
    <g>
        <circle cx="50" cy="50" r="40" stroke="white" stroke-width="4" fill="#9C27B0" />
        <text x="21" y="60" font-family="Verdana" font-size="20" fill="white">{{this.actualCount}}</text>
        <text x="46" y="60" font-family="Verdana" font-size="20" fill="white">/11</text>
        <text x="95" y="57" font-family="Verdana" font-size="20" fill="#9C27B0">models found</text>
        <line x1="90" y1="60" x2="230" y2="60" style="stroke:white;stroke-width:1" />
    </g>
</svg>
<a-scene  shadow="type: pcfsoft" class="scene-index" embedded vr-mode-ui="enabled: false" arjs="debugUIEnabled: false; sourceType: webcam; trackingMethod: best; detectionMode: mono_and_matrix; matrixCodeType: 3x3;" >
    <a-assets>
        <!--animals-->
        <a-asset-item id="penguin-obj" src="assets/models/Penguin.obj"></a-asset-item>
        <a-asset-item id="penguin-mtl" src="assets/models/Penguin.mtl"></a-asset-item>
        <a-asset-item id="crab-obj" src="assets/models/Crab.obj"></a-asset-item>
        <a-asset-item id="crab-mtl" src="assets/models/Crab.mtl"></a-asset-item>
        <a-asset-item id="fox-obj" src="assets/models/Fox.obj"></a-asset-item>
        <a-asset-item id="fox-mtl" src="assets/models/Fox.mtl"></a-asset-item>
        <a-asset-item id="lizard-obj" src="assets/models/Lizard.obj"></a-asset-item>
        <a-asset-item id="lizard-mtl" src="assets/models/Lizard.mtl"></a-asset-item>
        <a-asset-item id="pug-obj" src="assets/models/Pug.obj"></a-asset-item>
        <a-asset-item id="pug-mtl" src="assets/models/Pug.mtl"></a-asset-item>

        <!--robots-->
        <a-asset-item id="robot1-obj" src="assets/models/Robot1.obj"></a-asset-item>
        <a-asset-item id="robot1-mtl" src="assets/models/Robot1.mtl"></a-asset-item>
        <a-asset-item id="robot2-obj" src="assets/models/Robot2.obj"></a-asset-item>
        <a-asset-item id="robot2-mtl" src="assets/models/Robot2.mtl"></a-asset-item>
        <a-asset-item id="robot3-obj" src="assets/models/Robot3.obj"></a-asset-item>
        <a-asset-item id="robot3-mtl" src="assets/models/Robot3.mtl"></a-asset-item>
        <a-asset-item id="robot4-obj" src="assets/models/Robot4.obj"></a-asset-item>
        <a-asset-item id="robot4-mtl" src="assets/models/Robot4.mtl"></a-asset-item>
        <a-asset-item id="robot5-obj" src="assets/models/Robot5.obj"></a-asset-item>
        <a-asset-item id="robot5-mtl" src="assets/models/Robot5.mtl"></a-asset-item>

        <!--characters-->
        <a-asset-item id="night-king-obj" src="assets/models/NightKing.obj"></a-asset-item>
        <a-asset-item id="night-king-mtl" src="assets/models/NightKing.mtl"></a-asset-item>
        <a-asset-item id="r2d2-obj" src="assets/models/R2D2.obj"></a-asset-item>
        <a-asset-item id="r2d2-mtl" src="assets/models/R2D2.mtl"></a-asset-item>
        <a-asset-item id="rick-morty-obj" src="assets/models/RickAndMorty.obj"></a-asset-item>
        <a-asset-item id="rick-morty-mtl" src="assets/models/RickAndMorty.mtl"></a-asset-item>
        <a-asset-item id="robocop-obj" src="assets/models/Robocop.obj"></a-asset-item>
        <a-asset-item id="robocop-mtl" src="assets/models/Robocop.mtl"></a-asset-item>
        <a-asset-item id="sponge-bob-obj" src="assets/models/SpongeBob.obj"></a-asset-item>
        <a-asset-item id="sponge-bob-mtl" src="assets/models/SpongeBob.mtl"></a-asset-item>
    </a-assets>

    <!--animals-->
    <a-marker type='barcode' value='1' id="penguin" title="a penguin" registerevents>
        <a-entity position="0 0 0"
                  scale="8 8 8"
                  rotation="0 0 0"
                  obj-model="obj: #penguin-obj; mtl: #penguin-mtl">
            <!--<a-animation attribute="rotation" direction="alternate" from="75 -90 90" to="105 -90 90" dur="2500" easing="ease-sine" repeat="indefinite"></a-animation>-->
        </a-entity>
    </a-marker>
    <a-marker type='barcode' value='3' id="crab" title="a crab" registerevents>
        <a-entity id="model"
                  position="0 0 0"
                  scale="4 4 4"
                  rotation="0 0 0"
                  obj-model="obj: #crab-obj; mtl: #crab-mtl">
            <!--<a-animation attribute="scale" from="1 1 1" to="1.5 1.5 1.5" direction="alternate" dur="1000" easing="linear" repeat="indefinite"></a-animation>-->
        </a-entity>
    </a-marker>
    <a-marker type='barcode' value='4' id="fox" title="a fox" registerevents>
        <a-entity position="0 0 0"
                  scale="4 4 4"
                  rotation="0 0 0"
                  obj-model="obj: #fox-obj; mtl: #fox-mtl">
            <!--<a-animation attribute="position" from="2 0 0" to="-2 0 0" dur="5000" direction="alternate" easing="linear" repeat="indefinite"></a-animation>-->
        </a-entity>
    </a-marker>
    <a-marker type='barcode' value='7' id="lizard" title="a lizard" registerevents>
        <a-entity position="0 0 0"
                  scale="3 3 3"
                  rotation="0 180 0"
                  obj-model="obj: #lizard-obj; mtl: #lizard-mtl">
            <!--<a-animation attribute="rotation" from="0 0 0" to="0 360 0" dur="5000" direction="" easing="linear" repeat="indefinite"></a-animation>-->
        </a-entity>
    </a-marker>
    <a-marker type='barcode' value='11' id="pug" title="a pug" registerevents>
        <a-entity position="0 0 0"
                  scale="4 4 4"
                  rotation="90 0 0"
                  obj-model="obj: #pug-obj; mtl: #pug-mtl">
            <!--<a-animation attribute="position" from="2 0 0" to="-2 0 0" dur="5000" direction="alternate" easing="linear" repeat="indefinite"></a-animation>-->
        </a-entity>
    </a-marker>
    <!--robots-->
    <a-marker type='barcode' value='43' id="robot1" title="a robot" registerevents>
        <a-entity position="0 0 -1"
                  scale="2 2 2"
                  rotation="0 0 0"
                  obj-model="obj: #robot1-obj; mtl: #robot1-mtl">
            <!--<a-animation attribute="rotation" from="0 0 0" to="0 0 0" dur="5000" easing="linear" repeat="indefinite"></a-animation>-->
        </a-entity>
    </a-marker>
    <a-marker type='barcode' value='19' id="robot2" title="a robot" registerevents>
        <a-entity position="0 0 0"
                  scale="2 2 2"
                  rotation="-90 0 0"
                  obj-model="obj: #robot2-obj; mtl: #robot2-mtl">
            <!--<a-animation attribute="position" from="-3 0 0" to="3 0 0" dur="5000" direction="alternate" easing="linear" repeat="indefinite"></a-animation>-->
        </a-entity>
    </a-marker>
    <a-marker type='barcode' value='28' id="robot3" title="a robot" registerevents>
        <a-entity position="0 0 0"
                  scale="3 3 3"
                  rotation="0 0 10"
                  obj-model="obj: #robot3-obj; mtl: #robot3-mtl">
            <!--<a-animation attribute="scale" from="1 1 1" to="1.2 1.2 1.2" direction="alternate" dur="1000" easing="linear" repeat="indefinite"></a-animation>-->
        </a-entity>
    </a-marker>
    <a-marker type='barcode' value='38' id="robot4" title="a robot" registerevents>
        <a-entity position="0 -4 3"
                  scale="2 2 2"
                  rotation="-90 0 0"
                  obj-model="obj: #robot4-obj; mtl: #robot4-mtl">
        </a-entity>
        <!--<a-animation attribute="position" from="-2 0 0" to="2 0 0" dur="5000" direction="alternate" easing="linear" repeat="indefinite"></a-animation>-->
    </a-marker>
    <a-marker type='barcode' value='39' id="robot5" title="a robot" registerevents>
        <a-entity position="0 0 0"
                  scale="3 3 3"
                  rotation="45 0 0"
                  obj-model="obj: #robot5-obj; mtl: #robot5-mtl">
            <!--<a-animation attribute="scale" from="1 1 1" to="1.5 1.5 1.5" direction="alternate" dur="1000" easing="linear" repeat="indefinite"></a-animation>-->
        </a-entity>
    </a-marker>
    <!--characters-->
    <a-marker type='barcode' value='46' id="night-king" title="Night King" registerevents>
        <a-entity position="0 0 0"
                  scale="2 2 2"
                  rotation="0 180 0"
                  obj-model="obj: #night-king-obj; mtl: #night-king-mtl">
            <!--<a-animation attribute="rotation" from="25 180 0" to="-25 180 0" direction="alternate" dur="2500" easing="linear" repeat="indefinite"></a-animation>-->
        </a-entity>
    </a-marker>
    <a-marker type='barcode' value='54' id="r2d2" title="R2D2" registerevents>
        <a-entity position="0 0 0"
                  scale="4 4 4"
                  rotation="0 180 0"
                  obj-model="obj: #r2d2-obj; mtl: #r2d2-mtl">
            <!--<a-animation attribute="rotation" from="25 180 0" to="-25 180 0" direction="alternate" dur="2500" easing="linear" repeat="indefinite"></a-animation>-->
        </a-entity>
    </a-marker>
    <a-marker type='barcode' value='22' id="rick-morty" title="Rick and Morty" registerevents>
        <a-entity position="0 0 0"
                  scale="2 2 2"
                  rotation="0 180 0"
                  obj-model="obj: #rick-morty-obj; mtl: #rick-morty-mtl">
            <!--<a-animation attribute="rotation" from="25 180 0" to="-25 180 0" direction="alternate" dur="2500" easing="linear" repeat="indefinite"></a-animation>-->
        </a-entity>
    </a-marker>
    <a-marker type='barcode' value='35'id="robocop" title="Robocop" registerevents>
        <a-entity position="0 0 0"
                  scale="2.5 2.5 2.5"
                  rotation="0 180 0"
                  obj-model="obj: #robocop-obj; mtl: #robocop-mtl">
            <!--<a-animation attribute="rotation" from="25 180 0" to="-25 180 0" direction="alternate" dur="2500" easing="linear" repeat="indefinite"></a-animation>-->
        </a-entity>
    </a-marker>
    <a-marker type='barcode' value='20' id="sponge-bob" title="Sponge Bob" registerevents>
        <a-entity position="0 0 0"
                  scale="3 3 3"
                  rotation="0 180 0"
                  obj-model="obj: #sponge-bob-obj; mtl: #sponge-bob-mtl">
            <!--<a-animation attribute="rotation" from="25 180 0" to="-25 180 0" direction="alternate" dur="2500" easing="linear" repeat="indefinite"></a-animation>-->
        </a-entity>
    </a-marker>
    <a-entity camera position="0 0 15"></a-entity>
</a-scene>
