<app-header></app-header>
<section class="form-container">
    <mat-accordion displayMode="flat">
        <mat-expansion-panel class="custom-height" hideToggle [expanded]="isStart" (closed)="return;">
            <mat-expansion-panel-header style="display: none">
            </mat-expansion-panel-header>
            <div class="text welcome-wrapper">
                <p>Привіт!</p>
                <p>Вітаємо тебе у квесті доповненої реальності від Materialise!</p>
                <p>
                    Твоє завдання: знайти на території заходу спеціальну “мітку” і навести на неї камеру свого смартфону. За допомогою таких нескладних дій, ти збираєш 3D-об’єкти у свою колекцію.
                </p>
                <p>
                    Загалом на території заховано по три елементи на кожну з цих тем - їжа, персонажі, тварини. За кожну зібрану колекцію ти отримаєш 1 DEV коїн. Якщо збереш усі елементи квесту, отримаєш додатковий DEV коїн, тобто в сумі 4 DEV коїни.
                </p>
                <p>
                    Окрім цього, якщо збереш хоча б одну колекцію, додатково виграєш приз від Materialise. А якщо ти покажеш найкращий результат і найшвидше збереш усі три колекції, для тебе ми приготували окремий подарунок - світшот.
                </p>
            </div>
        </mat-expansion-panel>
            <mat-expansion-panel class="custom-height" (opened)="isStart = false" (closed)="isStart = true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Зареєструватися
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <form class="register-form" (ngSubmit)="onSubmit()" #registerForm="ngForm">
                    <mat-form-field>
                        <input matInput placeholder="Ім'я" type="text" required [(ngModel)]="model.firstName" name="firstName">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Прізвище" type="text" required [(ngModel)]="model.lastName" name="lastName">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Електронна пошта" type="text" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="model.email"
                               name="email">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Телефон" type="text" required [(ngModel)]="model.phone" name="phone">
                    </mat-form-field>
                    <div class="text rules-wrapper">
                        <p>Умови участі:</p>
                        <ul>
                            <li>реєстрація є обов’язковою</li>
                            <li>ім’я під час реєстрації має бути справжнім та збігатися з іменем, зазначеним на бейджі учасника</li>
                            <li>заборонено повідомляти іншим учасникам про те, де знаходяться “мітки”, і таким чином впливати на результат квесту</li>
                            <li>реєструватись можна тільки один раз, як і брати участь у квесті :)</li>
                        </ul>
                        <p>
                            Якщо хоч одну з умов не буде виконано, ми маємо право відмовити у винагороді.
                        </p>
                    </div>
                    <mat-checkbox color="primary" required [(ngModel)]="model.rulesAccepted" name="rulesAccepted">Погоджуюся з правилами</mat-checkbox>

                    <button type="submit" mat-button [disabled]="!registerForm.form.valid || loading">Почати 🚀</button>
                </form>
            </mat-expansion-panel>
    </mat-accordion>
</section>
