.form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
}

mat-accordion {
    height: 100% !important;
}
.register-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
}

.text {
    font-size: 14px;
}

.welcome-wrapper {
    padding-top: 2em;
}

.rules-wrapper {
    text-align: left;
    line-height: 16px;
}
